<% if notice %>
<div class="notification is-success">
  <button type="button" class="delete">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= notice %>
</div>
<% end %> 

<% if alert %>
<div class="notification is-danger">
  <button type="button" class="delete">
    <span aria-hidden="true">&times;</span>
  </button>
  <%= alert %>
</div>
<% end %>