$yellow: #fff549;
$grey: #8d99ae;
$black: #04151f;
$white: #f5efed;

@import 'form';
@import 'logo';
@import 'card';
@import 'navbar';
@import 'doses';
.title-text {
  padding: 1rem;
  background: $black;
  color: $yellow;
  font-family: 'coiny', serif;
}
